.ArticleCard {
    background-color: palegoldenrod;
    margin: 10px;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    text-align: left;
}

.ArticleCard img {
    width: 250px;
    height: 200px;
    text-align: left;
    border-radius: 10px;
    margin-left: 50px;
    border: 3px solid black;
    box-shadow: 0px 0px 40px 3px black;
}

.ArticleCard .TopicAndAuthor {
    color: black;
    margin-left: 20px;
    display: inline-block;
}
